html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1120px;
    padding: 0 10px 0 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 280px;
    padding: 0 10px 0 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 440px;
    padding: 0 10px 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 690px;
    padding: 0 10px 0 10px;
  }
}


.main-title {
  text-align: center;
  color: #474b73;
  letter-spacing: 0.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 96px;
    line-height: 10%;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-title {
    font-size: 26px;
    line-height: 38%;
    margin-bottom: 42px;
  }

}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-title {
    font-size: 39px;
    line-height: 26%;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-title {
    font-size: 62px;
    line-height: 16%;
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 55px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-section {
    padding-top: 37px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-section {
    padding-top: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    padding-top: 32px;
  }
}

.calc-button {
  cursor: pointer;
  border: 5px solid #507b64;
  border-radius: 10px;
  background: rgba(109, 52, 107, 0.33);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .calc-button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .calc-button {
    padding-top: 28px;
    padding-bottom: 18px;
    padding-left: 37px;
    padding-right: 37px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .calc-button {
    padding-top: 40px;
    padding-bottom: 22px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .calc-button {
    padding-top: 38px;
    padding-bottom: 15px;
    padding-left: 86px;
    padding-right: 86px;
  }

}

.label-count-year {
  color: #55279f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 0%;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .label-count-year {
    font-size: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .label-count-year {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .label-count-year {
    font-size: 48px;
  }

}

@media screen and (min-width: 1200px) {
  .label-count-year {
    font-size: 75px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-year {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    margin-bottom: 38px;
  }
}



@media screen and (min-width: 480px) and (max-width: 767px) {
  .group-year {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .group-year {
    margin-bottom: 35px;
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .group-year {
    margin-bottom: 17px;
    display: flex;
    gap: 77px;
    align-items: center;
    justify-content: center;
  }
}

.input-count-year {
  border: 5px solid rgba(82, 60, 146, 0.71);
  border-radius: 10px;
  background: rgba(119, 156, 89, 0.29);
  color: #5d359d;
  line-height: 0%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .input-count-year {
    font-size: 20px;
    width: 170px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .input-count-year {
    font-size: 30px;
    width: 241px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input-count-year {
    font-size: 48px;
    width: 241px;
  }
}

@media screen and (min-width: 1200px) {
  .input-count-year {
    font-size: 75px;
    width: 249px;
  }
}

/*
.directions-list {
  list-style: none;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.directions-item {
  color: rgb(103, 26, 122);
  font-weight: 700;
  border: 2px solid blue;
  padding: 5px;
  cursor: pointer;
  transition: background-color 1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.directions-item:hover {
  background-color: rgb(180, 199, 186);
}*/

.planet-list {
  list-style: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .planet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .planet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .planet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .planet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
  }
}

.planet-label {
  color: #e766da;
  line-height: 0%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .planet-label {
    font-size: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .planet-label {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .planet-label {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .planet-label {
    font-size: 30px;
  }
}

.select-zn-zodiak {
  border-radius: 10px;
  background: rgba(86, 75, 108, 0.33);
  text-align: center;
  color: #000;
  line-height: 0%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1200px) {
  .select-zn-zodiak {
    font-size: 30px;
    width: 185px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .select-zn-zodiak {
    font-size: 48px;
    width: 245px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .select-zn-zodiak {
    font-size: 30px;
    width: 185px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .select-zn-zodiak {
    font-size: 20px;
    width: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .group-planet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .group-planet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 99px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .group-planet {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-planet {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 21px;
  }

}

.degr-label {
  font-weight: 700;
  line-height: 0%;
  color: #427657;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1200px) {
  .degr-label {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .degr-label {
    font-size: 48px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .degr-label {
    font-size: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .degr-label {
    font-size: 20px;
  }
}

.degr-input {
  border-radius: 10px;
  background: #d9d9d9;
  color: #3d3f73;
  line-height: 0%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .degr-input {
    font-size: 30px;
    width: 182px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .degr-input {
    font-size: 48px;
    width: 241px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .degr-input {
    font-size: 30px;
    width: 182px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .degr-input {
    font-size: 20px;
    width: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .group-degr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .group-degr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 76px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .group-degr {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 27px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-degr {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
}

.label-hours {
  color: #427657;
  line-height: 0%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1200px) {
  .label-hours {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .label-hours {
    font-size: 48px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .label-hours {
    font-size: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .label-hours {
    font-size: 20px;
  }
}

.input-hours {
  border-radius: 10px;
  background: #d9d9d9;
  line-height: 0%;
  text-align: center;
  color: #3d3f73;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .input-hours {
    width: 182px;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input-hours {
    width: 245px;
    font-size: 48px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .input-hours {
    width: 182px;
    font-size: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .input-hours {
    width: 130px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .group-hours {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .group-hours {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 92px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .group-hours {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 29px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-hours {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .planet-item {
    display: grid;
    column-gap: 28px;
    grid-template-columns: 312px 324px 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .planet-item {
    display: grid;
    column-gap: 96px;
    row-gap: 21px;
    grid-template-columns: 500px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .planet-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .planet-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

}

body {
  background: rgba(97, 18, 124, 0.16);
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc-span {
  color: #5244ae;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 0%;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .calc-span {
    font-size: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .calc-span {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .calc-span {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .calc-span {
    font-size: 54px;
  }
}